[package]
name = "minimal-ed448"
version = "0.3.0"
description = "Unaudited, inefficient implementation of Ed448 in Rust"
license = "MIT"
repository = "https://github.com/serai-dex/serai/tree/develop/crypto/ed448"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
keywords = ["ed448", "ff", "group"]
edition = "2021"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
lazy_static = "1"

rand_core = "0.6"

zeroize = { version = "^1.5", features = ["zeroize_derive"] }
subtle = "^2.4"

ff = { version = "0.12", features = ["bits"] }
group = "0.12"

generic-array = "0.14"
crypto-bigint = { version = "0.5", features = ["zeroize"] }

dalek-ff-group = { path = "../dalek-ff-group", version = "0.3" }

[dev-dependencies]
hex = "0.4"

ff-group-tests = { path = "../ff-group-tests" }

[features]
black_box = []
