[workspace]
members = [
  "crypto/transcript",

  "crypto/dalek-ff-group",
  "crypto/multiexp",

  "crypto/dleq",
  "crypto/frost",

  "coins/ethereum",
  "coins/monero",

  "processor",

  "substrate/runtime",
  "substrate/consensus",
  "substrate/node",

  "contracts/extension",
  "contracts/multisig",
  "contracts/token",
]

[profile.release]
panic = "unwind"

[patch.crates-io]
zip = { version = "0.6.2", git = "https://github.com/zip-rs/zip", rev = "bb230ef56adc13436d1fcdfaa489249d119c498f" }
