[workspace]
members = [
  "crypto/transcript",

  "crypto/dalek-ff-group",
  "crypto/multiexp",

  "crypto/dleq",
  "crypto/frost",

  "coins/ethereum",
  "coins/monero/generators",
  "coins/monero",

  "processor",

  "substrate/runtime",
  "substrate/consensus",
  "substrate/node",

  "contracts/extension",
  "contracts/multisig",
]

# Always compile Monero (and a variety of dependencies) with optimizations due
# to the unoptimized performance of Bulletproofs
[profile.dev.package]
subtle = { opt-level = 3 }
curve25519-dalek = { opt-level = 3 }

ff = { opt-level = 3 }
group = { opt-level = 3 }

crypto-bigint = { opt-level = 3 }
dalek-ff-group = { opt-level = 3 }

multiexp = { opt-level = 3 }

monero-serai = { opt-level = 3 }

[profile.release]
panic = "unwind"

[patch.crates-io]
zip = { version = "0.6.2", git = "https://github.com/zip-rs/zip", rev = "bb230ef56adc13436d1fcdfaa489249d119c498f" }
