[package]
name = "modular-frost"
version = "0.5.0"
description = "Modular implementation of FROST over ff/group"
license = "MIT"
repository = "https://github.com/serai-dex/serai/tree/develop/crypto/frost"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
keywords = ["frost", "multisig", "threshold"]
edition = "2021"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
thiserror = "1"

rand_core = "0.6"
rand_chacha = "0.3"

zeroize = { version = "^1.5", features = ["zeroize_derive"] }
subtle = "^2.4"

hex = { version = "0.4", optional = true }

digest = "0.10"
transcript = { package = "flexible-transcript", path = "../transcript", version = "0.2", features = ["recommended"] }

group = "0.12"
ciphersuite = { path = "../ciphersuite", version = "0.1", features = ["std"] }

dalek-ff-group = { path = "../dalek-ff-group", version = "^0.1.2", optional = true }
minimal-ed448 = { path = "../ed448", version = "^0.1.2", optional = true }

multiexp = { path = "../multiexp", version = "0.2", features = ["batch"] }

schnorr = { package = "schnorr-signatures", path = "../schnorr", version = "0.2" }
dleq = { path = "../dleq", version = "0.2", features = ["serialize"] }

dkg = { path = "../dkg", version = "0.2" }

[dev-dependencies]
serde_json = "1"

dkg = { path = "../dkg", version = "0.2", features = ["tests"] }

[features]
ed25519 = ["dalek-ff-group", "ciphersuite/ed25519"]
ristretto = ["dalek-ff-group", "ciphersuite/ristretto"]

secp256k1 = ["ciphersuite/secp256k1"]
p256 = ["ciphersuite/p256"]

ed448 = ["minimal-ed448", "ciphersuite/ed448"]

tests = ["hex", "dkg/tests"]
