[package]
name = "modular-frost"
version = "0.1.0"
description = "Modular implementation of FROST over ff/group"
license = "MIT"
repository = "https://github.com/serai-dex/serai"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
keywords = ["frost", "multisig", "threshold"]
edition = "2021"

[dependencies]
thiserror = "1"

rand_core = "0.6"
hex = "0.4"

sha2 = { version = "0.10", optional = true }

group = "0.12"

elliptic-curve = { version = "0.12", features = ["hash2curve"], optional = true }
p256 = { version = "0.11", features = ["arithmetic", "hash2curve"], optional = true }
k256 = { version = "0.11", features = ["arithmetic", "hash2curve"], optional = true }
dalek-ff-group = { path = "../dalek-ff-group", version = "0.1", optional = true }

transcript = { package = "transcript-trait", path = "../transcript", version = "0.1" }

multiexp = { path = "../multiexp", version = "0.1", features = ["batch"] }

[dev-dependencies]
rand = "0.8"

sha2 = "0.10"
dalek-ff-group = { path = "../dalek-ff-group" }

[features]
curves = ["sha2"] # All officially denoted curves use the SHA2 family of hashes
kp256 = ["elliptic-curve", "curves"]
p256 = ["kp256", "dep:p256"]
secp256k1 = ["kp256", "k256"]
dalek = ["curves", "dalek-ff-group"]
ed25519 = ["dalek"]
ristretto = ["dalek"]
