[package]
name = "serai-processor"
version = "0.1.0"
description = "Multichain processor premised on canonicity to reach distributed consensus automatically"
license = "AGPL-3.0-only"
repository = "https://github.com/serai-dex/serai/tree/develop/processor"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
keywords = []
edition = "2021"
publish = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-trait = "0.1"
zeroize = "1.5"
thiserror = "1"
rand_core = "0.6"

group = "0.12"

curve25519-dalek = { version = "3", features = ["std"] }

transcript = { package = "flexible-transcript", path = "../crypto/transcript", features = ["recommended"] }
dalek-ff-group = { path = "../crypto/dalek-ff-group" }
frost = { package = "modular-frost", path = "../crypto/frost", features = ["ed25519"] }

monero-serai = { path = "../coins/monero", features = ["multisig"] }

hex = "0.4"
message-box = { path = "../common/message-box" }
[dev-dependencies]
rand_core = "0.6"

hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

futures = "0.3"
tokio = { version = "1", features = ["full"] }

frost = { package = "modular-frost", path = "../crypto/frost", features = ["ed25519", "tests"] }
