[package]
name = "dleq"
version = "0.1.0"
description = "Implementation of single and cross-curve Discrete Log Equality proofs"
license = "MIT"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
edition = "2021"

[dependencies]
thiserror = "1"
rand_core = "0.6"

transcript = { package = "flexible-transcript", path = "../transcript", version = "0.1" }

ff = "0.12"
group = "0.12"

multiexp = { path = "../multiexp" }

[dev-dependencies]
hex-literal = "0.3"
k256 = { version = "0.11", features = ["arithmetic", "bits"] }
dalek-ff-group = { path = "../dalek-ff-group" }

transcript = { package = "flexible-transcript", path = "../transcript", features = ["recommended"] }

[features]
serialize = []
cross_group = []
secure_capacity_difference = []
default = ["secure_capacity_difference"]
