[package]
name = "serai-runtime"
version = "0.1.0"
description = "Serai network node runtime, built over Substrate"
license = "AGPL-3.0-only"
repository = "https://github.com/serai-dex/serai/tree/develop/substrate/runtime"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
edition = "2021"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2", default-features = false, features = ["derive"] }

sp-core = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-std = { git = "https://github.com/serai-dex/substrate", default-features = false }

sp-offchain = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-version = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-inherents = { git = "https://github.com/serai-dex/substrate", default-features = false }

sp-session = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-consensus-babe = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-consensus-grandpa = { git = "https://github.com/serai-dex/substrate", default-features = false }

sp-authority-discovery = { git = "https://github.com/serai-dex/substrate", default-features = false }

sp-transaction-pool = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-block-builder = { git = "https://github.com/serai-dex/substrate", default-features = false }

sp-runtime = { git = "https://github.com/serai-dex/substrate", default-features = false }
sp-api = { git = "https://github.com/serai-dex/substrate", default-features = false }

frame-system = { git = "https://github.com/serai-dex/substrate", default-features = false }
frame-support = { git = "https://github.com/serai-dex/substrate", default-features = false }
frame-executive = { git = "https://github.com/serai-dex/substrate", default-features = false }
frame-benchmarking = { git = "https://github.com/serai-dex/substrate", default-features = false, optional = true }

serai-primitives = { path = "../primitives", default-features = false }

pallet-timestamp = { git = "https://github.com/serai-dex/substrate", default-features = false }

pallet-balances = { git = "https://github.com/serai-dex/substrate", default-features = false }
pallet-assets = { git = "https://github.com/serai-dex/substrate", default-features = false }
pallet-transaction-payment = { git = "https://github.com/serai-dex/substrate", default-features = false }

tokens-pallet = { package = "serai-tokens-pallet", path = "../tokens/pallet", default-features = false }
in-instructions-pallet = { package = "serai-in-instructions-pallet", path = "../in-instructions/pallet", default-features = false }

validator-sets-pallet = { package = "serai-validator-sets-pallet", path = "../validator-sets/pallet", default-features = false }
pallet-session = { git = "https://github.com/serai-dex/substrate", default-features = false }
pallet-babe = { git = "https://github.com/serai-dex/substrate", default-features = false }
pallet-grandpa = { git = "https://github.com/serai-dex/substrate", default-features = false }

pallet-authority-discovery = { git = "https://github.com/serai-dex/substrate", default-features = false }

frame-system-rpc-runtime-api = { git = "https://github.com/serai-dex/substrate", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/serai-dex/substrate", default-features = false }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/serai-dex/substrate" }

[features]
std = [
  "codec/std",
  "scale-info/std",

  "sp-core/std",
  "sp-std/std",

  "sp-offchain/std",
  "sp-version/std",
  "sp-inherents/std",

  "sp-session/std",
  "sp-consensus-babe/std",
  "sp-consensus-grandpa/std",

  "sp-authority-discovery/std",

  "sp-transaction-pool/std",
  "sp-block-builder/std",

  "sp-runtime/std",
  "sp-api/std",

  "frame-system/std",
  "frame-support/std",
  "frame-executive/std",

  "serai-primitives/std",

  "pallet-timestamp/std",

  "pallet-balances/std",
  "pallet-transaction-payment/std",

  "pallet-assets/std",
  "tokens-pallet/std",
  "in-instructions-pallet/std",

  "validator-sets-pallet/std",
  "pallet-session/std",
  "pallet-babe/std",
  "pallet-grandpa/std",

  "pallet-authority-discovery/std",

  "frame-system-rpc-runtime-api/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
]

runtime-benchmarks = [
  "sp-runtime/runtime-benchmarks",

  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",

  "pallet-timestamp/runtime-benchmarks",

  "pallet-balances/runtime-benchmarks",
  "pallet-assets/runtime-benchmarks",

	"pallet-babe/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
]

default = ["std"]
