[package]
name = "serai-in-instructions-pallet"
version = "0.1.0"
description = "Execute calls via In Instructions from unsigned transactions"
license = "AGPL-3.0-only"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
edition = "2021"
publish = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
thiserror = { version = "1", optional = true }

scale = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive", "max-encoded-len"] }
scale-info = { version = "2", default-features = false, features = ["derive"] }

sp-application-crypto = { git = "https://github.com/serai-dex/substrate", branch = "dalek-4.0", default-features = false }
sp-runtime = { git = "https://github.com/serai-dex/substrate", branch = "dalek-4.0", default-features = false }

frame-system = { git = "https://github.com/serai-dex/substrate", branch = "dalek-4.0", default-features = false }
frame-support = { git = "https://github.com/serai-dex/substrate", branch = "dalek-4.0", default-features = false }

serai-primitives = { path = "../../primitives", default-features = false }
in-instructions-primitives = { package = "serai-in-instructions-primitives", path = "../primitives", default-features = false }

tokens-pallet = { package = "serai-tokens-pallet", path = "../../tokens/pallet", default-features = false }
validator-sets-pallet = { package = "serai-validator-sets-pallet", path = "../../validator-sets/pallet", default-features = false }

[features]
std = [
  "thiserror",

  "scale/std",
  "scale-info/std",

  "sp-runtime/std",

  "frame-system/std",
  "frame-support/std",

  "serai-primitives/std",
  "in-instructions-primitives/std",

  "tokens-pallet/std",
]
default = ["std"]
