[package]
name = "serai-processor-messages"
version = "0.1.0"
description = "Messages sent and received by the processor"
license = "AGPL-3.0-only"
repository = "https://github.com/serai-dex/serai/tree/develop/processor/messages"
authors = ["Luke Parker <lukeparker5132@gmail.com>"]
keywords = []
edition = "2021"
publish = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
zeroize = { version = "1", default-features = false, features = ["std", "derive"] }

scale = { package = "parity-scale-codec", version = "3", default-features = false, features = ["std"] }
serde = { version = "1", default-features = false, features = ["std", "derive"] }

dkg = { path = "../../crypto/dkg", default-features = false, features = ["std", "serde"] }

serai-primitives = { path = "../../substrate/primitives", default-features = false, features = ["std"] }
in-instructions-primitives = { package = "serai-in-instructions-primitives", path = "../../substrate/in-instructions/primitives", default-features = false, features = ["std"] }
coins-primitives = { package = "serai-coins-primitives", path = "../../substrate/coins/primitives", default-features = false, features = ["std"] }
validator-sets-primitives = { package = "serai-validator-sets-primitives", path = "../../substrate/validator-sets/primitives", default-features = false, features = ["std"] }
