name: crypto/ Tests

on:
  push:
    branches:
      - develop
    paths:
      - "common/**"
      - "crypto/**"

  pull_request:
    paths:
      - "common/**"
      - "crypto/**"

  workflow_dispatch:

jobs:
  test-crypto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

      - name: Build Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        run: |
          GITHUB_CI=true RUST_BACKTRACE=1 cargo nextest run --all-features \
            -p flexible-transcript \
            -p ff-group-tests \
            -p dalek-ff-group \
            -p minimal-ed448 \
            -p ciphersuite \
            -p multiexp \
            -p schnorr-signatures \
            -p dleq \
            -p dkg \
            -p modular-frost \
            -p frost-schnorrkel
