name: Full Stack Tests

on:
  push:
    branches:
      - develop

  pull_request:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Build Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          github-token: ${{ inputs.github-token }}

      - name: Run Full Stack Docker tests
        run: cd tests/full-stack && GITHUB_CI=true RUST_BACKTRACE=1 cargo test
